@{
    ViewData["Title"] = "Calendar";
    ViewData["Header"] = "Be sure to check our calendar frequently so you don't miss out on an upcoming service project or club event.";
}

<body>
<div class="row">
    <div class="column" style="width: 45%">
        <p>
            If you want to attend an event that requires some form of registration, click on the event in the calendar and there will be a sign-up link in it's description.
        </p>
        <br/>
        <p>
            Many if not all of the events on this calendar will also be announced and explained in detail during our meetings.
        </p>
    </div>
    <iframe src="https://calendar.google.com/calendar/embed?src=wahskeyclub13%40gmail.com&ctz=America%2FNew_York&bgcolor=%23e6d7ff&amp" style="border: 0; float: right; left: 15px; padding-right: 15px;" width="600" height="400" scrolling="no"></iframe>
</div>
</body>