@{
    ViewData["Title"] = "Help";
    ViewData["Header"] = "Please reach out to the website's developer if you have any questions, comments, or concerns about this website.";
}

<body>
<div class="row">
    <div class="column">
        <h2>Account Record Request</h2>
        <p>If your account has been deleted, whether by you or by our automated account deletion system (which deletes senior accounts several weeks after they graduate to prevent database overflow), you may still request a record of your account activity if you so choose. To do so, please contact the developer (on the right) and provide identification so they know you were the owner of the deleted account.</p>
    </div>
    <div class="column">
        <h2>Website Support</h2>
        <p>This website and hour logging system are still in development. Bugs are likely to be encountered; if you think something isn't working properly, please contact our web developer at <a href="mailto:nathanielsglover@gmail.com">nathanielsglover@gmail.com</a> and with as much info about the bug as possible (what browser you are using, your account name if it is relevant, and how to reproduce the bug).</p>
    </div>
</div>
</body>