@{
    ViewData["Title"] = "Contact Us";
    ViewData["Header"] = "Please reach out to us if you have any questions, comments, or concerns about the club or the website.";
}

<body>
<div class="row">
    <div class="column">
        <h2>Club and Officer Contacts</h2>
        <address>
            Western Albemarle High School<br/>
            5941 Rockfish Gap Turnpike<br/>
            Crozet, VA, 22932
        </address>
        <address>
            Club Email: <a href="mailto:wahskeyclub13@gmail.com">wahskeyclub13@gmail.com</a>
        </address>
        <h4>Webmaster: Nathan Glover</h4>
        <ul>
            <li>
                <address>
                    School Email: <a href="mailto:nsge5@k12albemarle.org">nsge5@k12albemarle.org</a>
                </address>
            </li>
        </ul>
    </div>
    <div class="column">
        <h2>Website Support</h2>
        <p>This website and hour logging system is still in development. Bugs are likely to be encountered; if you think something isn't working properly, please contact our webmaster and with as much info about the bug as possible (what browser you are using, your account username if it is relevant, and how to reproduce the bug).</p>
    </div>
</div>
</body>