@{
    ViewData["Title"] = "Home";
    ViewData["Header"] = "Welcome to the WAHS Key Club website!";
}

<body>

<div class="column">
    <h2>About Our Club</h2>
    <img src="~/images/keyclubicon.png" alt="Key Club International Icon" class="img-wrap-left"/>
    <p>We are the Western Albemarle High School Key Club, our high school's division of <a href="https://www.keyclub.org/">Key Club International</a>. Since our beginning in 2013, we have grown into a club of around 50 members dedicated to serving the Crozet and Charlottesville communities through fundraisers, elementary school outreach events, food pantries, and more. To see announcements and photos about recent community service projects, check out our Instagram feed below.</p>

@* TODO: Embed Instagram feed (need credentials), confirm creation date and club member estimate, check paragraph with president. *@
</div>

</body>