@{
    ViewData["Title"] = "Home";
    ViewData["Header"] = "Welcome to the WAHS Key Club website!";
}

<body>

<div class="row">
    <div class="column">
        <h2>About Our Club</h2>
        <img src="~/images/keyclubicon.png" alt="Key Club International Icon" class="img-wrap-left"/>
        <p>We are the Western Albemarle High School Key Club, our high school's division of <a href="https://www.keyclub.org/" target="_blank">Key Club International</a>. Since our beginning in 2014, we have grown into a group of around 50 student members dedicated to serving the Crozet and Charlottesville communities through fundraisers, elementary school outreach events, food pantries, and more. We are also sponsored by and coordinate frequently with with our <a href="https://kiwaniscville.org/" target="_blank">local Kiwanis club</a>. To see announcements and photos about our recent community service projects, check out our Instagram feed below.</p>
    </div>
    <div class="column">
        <h2>Becoming a Member</h2>
        <p>To become a member, you will need to create an account and fill out a membership form, which you should turn in to our 
            treasurer with the $50 membership dues. Be sure to use the same first and last name on the form and your account, otherwise 
            we will not be able to verify your account and membership. Additionally, if you are interested but uncertain whether you want to become a member, feel free to come to one of our weekly meetings during lunch (12:25 - 12:50) on Friday in the choir room, or reach out to any of our officers.</p>
        <p>Membership Form:</p>
        <ul>
            <li><a href="https://drive.google.com/open?id=1tOqnALKXiAadbC9LZ3OsbWqSjLFZip9n" target="_blank">Google Drive PDF</a></li>
            <li><a href="https://drive.google.com/uc?authuser=0&id=1tOqnALKXiAadbC9LZ3OsbWqSjLFZip9n&export=download" target="_blank">Direct Download</a></li>
        </ul>
        <p>If you do not have access to a printer, you can get a physical copy of the form from our treasurer at one of the meetings.</p>
        @* TODO: Actually make a membership form or get it from somebody else *@
    </div>
</div>

<div class="row">
    <div class="column">
        <h2 style="padding-bottom: 10px">Instagram Feed (@@wahskeyclub)</h2>
        <!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/8af171ded5c051938579dfd3b290fdc1.html" scrolling="yes" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
        @* TODO: Pay LightWidget $10 and get this thing upgraded. Double check it before you do because they won't allow changes. *@
    </div>
</div>

</body>