@using Microsoft.AspNetCore.Identity
@using WahsKeyClubSite.Areas.Identity.Data
@model WahsKeyClubSite.Models.ServiceHours
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Log Hours (Dev Only)";
    ViewData["Header"] = "Submit service hours for any user here. This page should only be visible to developers.";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="SubmitDeveloper">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label">User</label>
                @{
                    var list = new List<SelectListItem>();
                    foreach(var user in UserManager.Users)
                    {
                        if(user.EmailConfirmed)
                        {
                            list.Add(new SelectListItem(user.Name, user.Id));
                        }
                    }
                }
                @Html.DropDownList("UserId", list.OrderBy(item => item.Text), "", new {@class = "form-control"})
            </div>
            <div class="form-group">
                <label asp-for="DateOfActivity" class="control-label"></label>
                <input asp-for="DateOfActivity" class="form-control" />
                <span asp-validation-for="DateOfActivity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hours" class="control-label"></label>
                <input asp-for="Hours" class="form-control" />
                <span asp-validation-for="Hours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activity" class="control-label"></label>
                <input asp-for="Activity" class="form-control" />
                <span asp-validation-for="Activity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Hour Log</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

