@{
    ViewData["Title"] = "Unverified Account";
    ViewData["Header"] = "Your account is not verified.";
}

<p>You cannot log community service hours until you have verified your account. When you created your account, you should have received an email with a link to verify your account. If you did not receive that email, please follow these steps:</p>
<ol>
    <li>Log in to your account.</li>
    <li>Click the "My Account" button in the top right of your screen.</li>
    <li>Make sure your email is correct, and click the "Send verification email" link below your email address.</li>
    <li>Allow up to 5 minutes for the email (from wahskeyclubnoreply@gmail.com) to be sent. Check your spam folder if you do not receive it.</li>
    <li>When you receive the email, open it and click the link as instructed. This will verify your account.</li>
</ol>

<p>If you do not receive the email or you are still unable to log service hours, please see the <a asp-controller="Home" asp-action="Contact">Contact Us</a> page for instructions on how to report this issue.</p>