@model WahsKeyClubSite.Models.User

@{
    ViewData["Title"] = "Create An Account";
    ViewData["Header"] = "Make an account to record and view your community service hours.";
}

<script type="text/javascript">
    function ValidatePassword() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirm-password").value;
        var warning = document.getElementById("warning-text");
        if (password === "") {
            warning.innerHTML = "";
            return true; //Forward error to ASP.NET's validation scripts to prevent duplicate error messages
        } else if (password !== confirmPassword ) {
            warning.style.color = "#a94442";
            warning.innerHTML = "Passwords do not match.";
            return false;
        } else {
            warning.style.color = "green";
            warning.innerHTML = "Passwords match.";
            return true;
        }
    }
</script>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" placeholder="example@mydomain.com"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <div class="list-inline row" style="padding: 0;">
                    <div class="form-group col-sm-6" style="margin: 0">
                        <input asp-for="Password" id="password" class="form-control" onkeyup="ValidatePassword()" type="password"/>
                    </div>
                    <div class="form-group col-sm-6" style="margin: 0">
                        <input placeholder="Confirm Password" id="confirm-password" class="form-control" onkeyup="ValidatePassword()" type="password"/>
                    </div>
                </div>
                <p id="warning-text" style="padding: 0; margin: 0"></p>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">First Name</label>
                <input asp-for="FirstName" class="form-control" />
                <span error-message="This field is required." asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Last Name</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grade" class="control-label"></label>
                @Html.DropDownList("Grade", Html.GetEnumSelectList(typeof(Grade)), "", new { @class = "form-control" })
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create Account" class="btn btn-default" onclick="return ValidatePassword()"/>
            </div>
        </form>
    </div>
    <p>
        Please use the same first and last name that you will use on your membership form so we can properly verify your account. Additionally, please be aware that your account will be deleted after first quarter if you have not submitted a membership form. We will be sure to notify you multiple times before this occurs in case we misplaced the form. Lastly, seniors' accounts will be deleted at the start of the school year following their graduation.
    </p>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScripts");}
}
